/build
/data
/logs
/bin
/.gradle
/.idea
/local_dev
.classpath
.vscode/settings.json
.project
.settings/org.eclipse.buildship.core.prefs
.settings/org.eclipse.jdt.core.prefs
.DS_Store
/*.iml
/connector/target

.settings/

# Intellij
.idea/
*.iml
*.iws

# Maven
log/
target/
*/target/**
/smts/kafka-connect-new-relic-statsd-smt/.idea/
